appdirs==1.4.3
attrs==19.2.0
black==19.3b0
Click==7.0
dataclasses==0.6
fastapi==0.39.0
h11==0.8.1
httptools==0.0.13
mypy==0.730
mypy-extensions==0.4.2
pkg-resources==0.0.0
pydantic==0.32.2
starlette==0.12.8
toml==0.10.0
typed-ast==1.4.0
typing-extensions==3.7.4
uvicorn==0.11.7
uvloop==0.13.0
websockets==9.1
